<h1>Hello World !</h1>
<!-- <h2 *ngFor="let state of states">{{ state.stateCode }}</h2> -->
<select>
  <option
    *ngFor="let state of states"
    [value]="state.stateCode"
    (click)="getAllCityLocations(state.id)"
  >
    {{ state.stateName }}
  </option>
</select>

<select>
  <option
    *ngFor="let citi of cities"
    [value]="citi.id"
    (click)="getAllLocationsByCityID(citi.id)"
  >
    {{ citi.cityName }}
  </option>
</select>

<select>
  <option
    *ngFor="let location of locations"
    [value]="location.id"
    (click)="getAllCommentsByLocationID(location.id, location.cityId)"
  >
    {{ location.houseNumber + " " + location.streetName }}
  </option>
</select>

<div *ngFor="let comment of comments">
  <p>{{ comment.commentDescription }}</p>
</div>
